.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
testing
docs/reference/Rplot*
docs/*.mid
docs/*.pdf
docs/reference/out.ly
vignettes/file*
vignettes/lilypond*
vignettes/jesper*
vignettes/Gin*
vignettes/*.ly
vignettes/*.html
vignettes/*.mid
vignettes/*.pdf
README.html
*_snaps*
*RPlot*
