p {
  text-align: justify !important;
}

td p {
  text-align: left !important;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: auto !important;
  float: right;
  margin-left: 10px;
}
