p {
  text-align: justify !important;
}

td p {
  text-align: left !important;
}

body, p, h1, h2, h3, h4, h5, h6{
  font-family: Helvetica, Arial, sans-serif;
}

body{
  font-size: 0.9rem;
}

pre code{
  font-size: 0.9rem;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#tabr-readme-banner {
  margin-top:-20px;
  margin-left:-24px;
}
